---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import { TicketMethod, TicketMethodType } from '~/components/atoms/TicketMethod';
import Markdown from '@astrojs/markdown-component';
import { Image } from '@astrojs/image/components';
// import { v4 as uuidv4 } from 'uuid';
import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';

const meta = {
  title: `${SITE.title}: Ticket purchase success`,
  description: 'Grab your tickets to the best event of 2023, MetaFest!',
  canonical: getCanonical(getHomePermalink()),
};
---

<script>
  if (typeof window !== 'undefined') {
    const timer = 15;
    const countdown = (seconds: number) => {
      const countdownEl = document.querySelector('.countdown');
      const mins = Math.floor(seconds / 60);
      let secs: string | number = seconds % 60;
      secs = secs < 10 ? secs : secs;
      countdownEl.innerHTML = mins > 0 ? `${mins}:${secs}` : `${secs}`;
      seconds--;
      if (seconds >= 0) {
        setTimeout(() => countdown(seconds), 1000);
      }
    };
    setTimeout(() => {
      window.location.href = '/tickets';
    }, timer * 1000);
    countdown(timer);
  }
</script>

<Layout {meta}>
  <div class="pt-32"></div>

  <SponsorsSection
	title="Uh oh!!"
	precis="There was an error processing your payment."
	full
	>
    <p class="text-center text-base md:text-2xl">You'll be redirected back to the <a href="/tickets">tickets page</a> in <span class="countdown">0</span> seconds. Please try your order again.</p>
  </SponsorsSection>

  <div class="absolute h-[50vh] w-full overflow-y-visible z-[9] inset-0 top-auto">
    <div class="relative w-full h-full" x-data="{shown: false}" x-intersect:once="shown = true">
      <Plants />
    </div>
  </div>

  <ThreeD client:load />
</Layout>
