---
import { SITE, isDev, isTest, earlyBirdEnds } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import {TicketMethod, TicketMethodType} from '~/components/atoms/TicketMethod';
import Markdown from '@astrojs/markdown-component';
import { Image } from '@astrojs/image/components';
// import { v4 as uuidv4 } from 'uuid';
import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';
import { Icon } from 'astro-icon';
import { CountdownTimer } from '~/components/widgets/CountdownTimer';
import {DateTime } from 'luxon';



export const earlyBirdExpiry = earlyBirdEnds;
export const earlyBirdShortFormat = DateTime.fromISO(earlyBirdExpiry).toLocaleString(DateTime.DATE_SHORT);
export const earlyBirdExpiresDays = Math.round(DateTime.fromISO(earlyBirdExpiry).diffNow('days').toObject().days);
export const isEarlyBirdValid = DateTime.fromISO(earlyBirdExpiry) > DateTime.now();

const meta = {
  title: `${SITE.title}: Event tickets`,
  description: `Immerse yourself in MetaFest Croatia at the historic Fort Punta Christo, where the revolutionary spirit of Ethereum unites diverse minds. Delve into empowering workshops, uncover Pula&apos;s rich past, and forge connections with Web3 innovators. Get your earlybird tickets now! Discount ends on ${earlyBirdShortFormat}.`,
  canonical: getCanonical(getHomePermalink()),
};

export const ticketMethods: TicketMethodType[] = [
  {
    title: 'Dump Fiat',
    price: {
			standard: 200,
			patron: 420
		},
		discount: isEarlyBirdValid ? 25 : 0,
		isEarlyBird: isEarlyBirdValid,
		earlyBirdExpires: earlyBirdExpiry,
    summary: 'Want to dump some fiat for a MetaFest ticket? This is the place for you. FIAT payments are processed by ![Alt](https://logos-world.net/wp-content/uploads/2021/03/Stripe-Logo.png "Stripe").',
		method: 'fiat',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Crypto',
    price: {
			standard: 200,
			patron: 420
		},
		discount: isEarlyBirdValid ? 25 : 0,
		isEarlyBird: isEarlyBirdValid,
		earlyBirdExpires: earlyBirdExpiry,
    summary: 'Of course, we accept all mainstream crypto. Our crypto payment provider is ![Alt](https://paycek.io/static/img/logo.svg "Paycek"). They list all accepted tokens in [their FAQ](https://paycek.io/faq).',
    method: 'crypto',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Seeds',
    price: {
			standard: 200,
			patron: 420
		},
		discount: isEarlyBirdValid ? 25 : 0,
		isEarlyBird: isEarlyBirdValid,
		earlyBirdExpires: earlyBirdExpiry,
    summary: 'Been hodling Seeds? Use them to buy a ticket. ![Alt](https://assets.coingecko.com/coins/images/13099/small/V8phEz8V.png?1612854078 "Seeds")',
    method: 'seeds',
		ctaText: 'Buy a ticket'
  },
	{
		title: 'Be useful',
		price: {
			crew: 'Free',
		},
		discount: 100,
		summary: "Don't want to pay? Apply to speak, help with promoting the event, cleaning etc.",
		method: 'crew',
		ctaText: 'Apply'
	},
	{
		title: 'Be a MetaGamer',
		price: {
			metagamer: 'Free',
		},
		discount: 100,
		summary: 'Silver league & above in MetaGame? You get to join for free.',
		method: 'metagamer',
		ctaText: 'Claim'
	},
	{
		title: 'Sponsor or Partner',
		price: {
			sponsor: 'POA'
		},
		discount: 0,
		isEarlyBird: false,
		summary: 'Want to have your project sponsor or help MetaFest? Sponsors & partners get a few tix. For more info on the festival and details on pricing and benefits, check out the [sponsors page](/event-sponsors).',
		method: 'sponsor',
		ctaText: 'Apply'
	}
];

export const expiredMessage = `Don't miss out!!

Flights, and Accommodation in and around Pula are limited.`
---

<Layout {meta}>
  <div class="pt-8"></div>

  <SponsorsSection
    title="Enter MetaFest"
    precis="No freeloaders at MetaFest! Luckily, there's plenty of ways to get in."
		full
		alt
  >

	<div class="w-full text-center mt-5">
		<CountdownTimer
		to={earlyBirdExpiry}
		headline="Earlybird discount ends:"
		message="Accomodation & flights are limited, don't miss out."
		expiredHeadline="Earlybird prices expired on:"
		expiredMessage={expiredMessage}
		client:load />
	</div>
    <div class="ticket-methods grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 items-stretch mx-auto mt-14 mb-20 lg:mb-16 gap-5 md:gap-8">
      {ticketMethods && ticketMethods.map((method) => <TicketMethod {...method} client:only />)}
    </div>
		<p class="text-center text-off-white text-3xl font-bold">Not ready? Got questions? Come and <a href="https://t.me/+qIDukhuLnwg5ZTI0" target="_blank" rel="noreferrer" class="group text-primary hover:underline">join the conversation <Icon name="mdi:telegram" class="w-16 h-16 inline-flex text-cyan-500" /></a></p>
  </SponsorsSection>

  <div class="absolute h-[50vh] w-full z-[9] inset-0 top-auto overflow-y-hidden">
    <div class="relative w-full h-full md:translate-y-1/2" x-data="{shown: false}" x-intersect:once="shown = true">
      <Plants />
    </div>
  </div>

	<ThreeD client:load />
</Layout>
