---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import { Image } from '@astrojs/image/components';
// import { v4 as uuidv4 } from 'uuid';
import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';
import Confetti from '~/components/widgets/Confetti';
import { bubbles, confettiA } from '~/config/particles.config';

const meta = {
  title: `${SITE.title}: Ticket purchase success`,
  description: 'Grab your tickets to the best event of 2023, MetaFest!',
  canonical: getCanonical(getHomePermalink()),
};


---
<script>
  if (typeof window !== 'undefined') {
    const timer = 10;
    const countdown = (seconds: number) => {
      const countdownEl = document.querySelector('.countdown');
      const mins = Math.floor(seconds / 60);
      let secs: string | number = seconds % 60;
      secs = secs < 10 ? secs : secs;
      countdownEl.innerHTML = mins > 0 ? `${mins}:${secs}` : `${secs}`;
      seconds--;
      if (seconds >= 0) {
        setTimeout(() => countdown(seconds), 1000);
      }
    };
    // setTimeout(() => {
    //   window.location.href = '/';
    // }, timer * 1000);
    countdown(timer);
  }
</script>
<Layout {meta}>
  <div class="pt-32"></div>
  <Image
    src={mgLogo}
    alt="3D"
    loading="lazy"
    quality={100}
    width={512}
    height={512}
    layout="responsive"
    class="absolute top-20 w-full left-0 xl:left-1/4 xl:right-1/4 xl:w-1/2 z-[9] opacity-5"
  />

  <SponsorsSection
    title="Awesome!!"
    precis="You're coming to MetaFest 2023!! 🎉"
    full
   >
		<p>Thanks for buying a ticket! Check your email for confirmation.</p>
		<p>See you there!!</p>

		<p class="mt-4">You will be redirected to the <a href="/">homepage</a> in <span class="countdown"></span> seconds.</p>
	 </SponsorsSection>


  <div class="absolute h-[50vh] w-full overflow-y-visible z-[9] inset-0 top-auto">
    <div class="relative w-full h-full" x-data="{shown: false}" x-intersect:once="shown = true">
      <Plants />
    </div>
  </div>
	<!-- <Confetti config={bubbles} client:load /> -->

	<ThreeD client:load />
</Layout>
