---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle Menu',
	class:
		className = 'btn btn-ghost ml-1.5 text-primary hover:text-secondary focus:outline-none focus:ring-4 focus:ring-gray-700 focus:bg-transparent rounded-lg text-sm p-0 inline-flex items-center transition',
	iconClass = 'w-10 h-10',
	iconName = 'tabler:menu',
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-menu>
	<Icon name={iconName} class={iconClass} optimize={false} />
</button>
