---
import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
// import { SITE } from '~/config.mjs';
// import slides from '~/data/carousel.json';

// const host = import.meta.env.PUBLIC_HOSTNAME as string ?? SITE.origin as string;

// const data = await fetch(`${host}/api/carousel.json`).then((res) => res.json());

// const { slides } = data;

const slides = [
  {
    "title": "Fort Punta Christo",
    "description": "The fortress overlooks the entrance to Pula Bay and out to Muzil and the Brijuni islands from the other side and has been host to a bunch of great festivals over the years.",
    "image": "hero-castle-lg.jpg"
  },
  {
    "title": "Enjoy live music",
    "description": "There will be a great line-up featuring artists from inside & outside the Web3 community. Where better to see them than this amazing & unique venue.",
    "image": "8.jpg"
  },
  {
    "title": "How good does this look?!",
    "description": "This venue has witnessed some amazing events. MetaFest Croatia will be one of them! Don't miss it",
    "image": "9.jpg"
  },
  {
    "title": "A shit ton of fun",
    "description": "The surrounding area of Pula & the Kristo peninsula is stunning and full of places to explore and things to do. ",
    "image": "13.jpg"
  },
  {
    "title": "... and shit tons more fun",
    "description": "Hire quads, kayaks and other stuff and go get off the beaten track. ",
    "image": "10.jpg"
  },
  {
    "title": "How clear is this water?!",
    "description": "Go diving off the rocks around the coastline. ",
    "image": "12.jpg"
  }
]
---

<!-- Slider main container -->
<div class="carousel">
  <div class="swiper w-full rounded-box border-l-4 border-b-4 border-accent relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        slides &&
          slides.length > 0 &&
          slides.map((slide) => {
            const image = `/assets/images/carousel/${slide.image}`;

            return (
              <div class="swiper-slide">
                <Picture
									class="hidden md:block"
                  src={image}
                  sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
                  alt="Hero Image"
                  widths={[400, 768, 1480]}
                  aspectRatio={1480 / 833}
                  loading="eager"
                  width={1480}
                  height={833}
                />

								<Picture
								  class="block md:hidden"
                  src={image}
                  sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
                  alt="Hero Image"
                  widths={[400, 768, 1480]}
                  aspectRatio={833 / 1480}
                  loading="eager"
                  width={400}
                />
                <div class="swiper-slide__content absolute bottom-0 left-0 px-3 md:px-8">
                  <Icon name="map-marker" className="w-10 h-auto max-h-10 min-h-8 mr-3" />
                  <div class="group ml-2">
                    <h4>{slide.title}</h4>
                    <p class="mb-0 xl:w-3/4">{slide.description}</p>
                  </div>
                </div>
              </div>
            );
          })
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-prev -translate-x-16">
    <Icon name="left-pointer" className="w-32 h-auto" />
  </div>
  <div class="swiper-button-next translate-x-16">
    <Icon name="right-pointer" class="w-32 h-auto min-h-16" />
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';

  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,
    effect: 'fade',
    pagination: {
      el: '.swiper-pagination',
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

  window.addEventListener('load', () => {
    swiper.update();
  });
</script>
