---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import Icon from 'astro-icon';
import Tier from '~/components/atoms/Tier.astro';
import Markdown from '@astrojs/markdown-component';
import { Image } from '@astrojs/image/components';

import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';

const meta = {
  title: `${SITE.title}: Event sponsors`,
  description: 'Sponsor the DAO event of 2023',
  canonical: getCanonical(getHomePermalink()),
};

export const sponsorshipTiers = [
  {
    title: 'Bronze',
    price: 2,
    summary: 'A minimum viable sponsorship of MetaFest by fellow DAOs or regen projects.',
    perks: [
      {
        summary: 'Your logo on the website, most promo materials, media & aftermovie',
      },
			{
				summary: 'Your logo in swag bags & at the venue',
			},
      {
        summary: '3 ticket NFTs (worth $600)',
      },
      {
        summary: 'Sponsor swag bags & bracelets',
      },
    ],
  },
  {
    title: 'Gold',
    price: 5,
    summary: 'A much better way to support - give us $5k & our hat goes off.',
    perks: [
      {
        summary: 'Your logo on the website, most promo materials, media & aftermovie',
      },
			{
				summary: 'Your logo in swag bags & at the venue',
			},
      {
        summary: 'Talk or workshop',
      },
      {
        summary: '8 ticket NFTs (worth $1200)',
      },
      {
        summary: 'Rare swag bags & bracelets',
      },
    ],
  },
  {
    title: 'Diamond',
    price: 10,
    summary: 'Reserved for the best to signal their support of the movement.',
    perks: [
      {
        summary: 'Your logo on the website, all promo materials, media & aftermovie',
      },
			{
				summary: 'Your logo in swag bags & at the venue',
			},
			{
				summary: 'Your logo on the livestreams',
			},
			{
				summary: 'Your name in local & regional media',
			},
      {
        summary: 'Talk and workshop',
      },
      {
        summary: 'Private chamber & a table in the dungeon (coworking) for your org',
      },
      {
        summary: 'A promo booth for your project (first 5, first come, first served)',
      },
      {
        summary: '16 ticket NFTs (worth $2400)',
      },
      {
        summary: 'Epic swag bags & project-specific bracelets',
      },
    ],
  },
];

export const expansionPacks = [
  {
    title: 'Activity',
    price: 1,
    summary: 'Have an activity powered by your organization, why don’t you?',
    perks: [
      {
        summary: 'Jetskiing by XYZ DAO',
      },
      {
        summary: 'Paintball by XYZ DAO',
      },
      {
        summary: 'Panoramic flight by XYZ DAO',
      },
    ],
  },
  {
    title: 'Drinks & Food',
    price: 5,
    summary: 'Want to be known as the ones that feed the people & quench the thirst?',
    perks: [
      {
        summary: 'Would be announced that all the drinks are “courtesy of DAO X”',
      },
      {
        summary: 'Would be announced that all the food is “courtesy of DAO X”',
      },
    ],
  },
  {
    title: 'Hosted By',
    price: 10,
    summary: 'Want to be known as a host? Pay for 10+ person accommodation!',
    perks: [
      {
        summary: 'Villa with a pool hosted by Your DAO',
      },
    ],
  },
];
---

<Layout {meta}>
  <div class="pt-32"></div>
  <SponsorsSection
    title="Who’s behind it?"
    precis="MetaFest Croatia is organized by MetaFam of [MetaGame](https://metagame.wtf)."
  >
    <Markdown>
      After doing [a conference](https://metagame.substack.com/p/intercon-what-how-even), [a
      hackathon](https://metagame.substack.com/p/fork-the-world-opening-), two MetaFests
      ([1](https://metagame.substack.com/p/metaspecial-metafest-is-alive) &
      [2](https://metagame.substack.com/p/metafest2-is-happening-now)) & countless meetups all in the metaverse, we’ve
      decided to level up & organize IRL!
    </Markdown>

    <Markdown>
      [MetaGame](https://metagame.wtf) is an EVM based coordination game kickstarted by MetaCartel. A decentralized
      factory & a [network of projects](https://metagame.wtf/guilds) currently concerned with onboarding people into the
      DAO space.
    </Markdown>

    <!-- <Image
		src={mgLogo}
		alt="3D"
		loading="lazy"
		quality={100}
		width={512}
		height={512}
		layout="responsive"
		class="absolute -top-14 -left-32 z-0 opacity-25"
		/> -->
  </SponsorsSection>
  <Image
    src={mgLogo}
    alt="3D"
    loading="lazy"
    quality={100}
    width={512}
    height={512}
    layout="responsive"
    class="absolute top-20 left-1/4 right-1/4 w-1/2 z-[9] opacity-5"
  />
  <SponsorsSection title="Why the Balkans, why Croatia?">
    <p>
      Despite proclivity towards self-organization due to a distrust of the state system & privatizing profiteers, DAO
      presence in the Balkans is weak.
    </p>
    <p>About Croatia:</p>
    <ul>
      <li><Icon name="ic:round-check-circle-outline" />Beautiful & Fairly cheap</li>
      <li><Icon name="ic:round-check-circle-outline" />Good tax laws (no tax if you hodl 2+ years)</li>
      <li><Icon name="ic:round-check-circle-outline" />Digital nomad friendly visas</li>
      <li><Icon name="ic:round-check-circle-outline" />Solid infrastructure & high safety</li>
      <li><Icon name="ic:round-check-circle-outline" />Functional but corrupt states, small enough to influence</li>
    </ul>
    <p>
      With a need for financial transparency & better governance tech, there is high potential for Web3 adoption at the
      local as well as the state level.
    </p>
    <p>
      Great time-zone compatibility & good educational system combined with relatively low standards of living also make
      the Balkans a great place to hire from.
    </p>
  </SponsorsSection>

  <SponsorsSection title="Who is it for?">
    <p>
      Attendees will mostly be people from the EVM DAO & ReFi ecosystems but mixed in with the wider regenerative,
      self-organization & Game B/Metamodern space.
    </p>

    <p>Overall, we are aiming for:</p>
    <ul>
      <li>
        <Icon name="ic:round-check-circle-outline" /> ~70% EVM DAOists & Regens.
      </li>
      <li>
        <Icon name="ic:round-check-circle-outline" /> ~15% wider non-crypto-but-adjacent spaces.
      </li>
      <li>
        <Icon name="ic:round-check-circle-outline" /> ~15% select locals, from the tech uni, a youth DAO etc.
      </li>
      <li>
        <Icon name="ic:round-check-circle-outline" />Having an epic time while exchanging cutting edge DAO/regen/meta
        knowledge & usecases.
      </li>
      <li>
        <Icon name="ic:round-check-circle-outline" />Inspiring more people to join the space, start local DAOs &/or
        implement Web3 tech at the local, municipal or state level.
      </li>
    </ul>
  </SponsorsSection>

  <SponsorsSection
    title="Sponsorship"
    precis="It’s in all of our best interest these technologies get adopted IRL."
    full
  >
    <p>
      You may benefit directly or indirectly through increased demand or through being affiliated with projects that
      drive adoption.
    </p>

    <p>
      Being affiliated means your logo being distributed through our YT channel (1.5k subscribers), our twitter account
      (5k followers), our newsletter (12k subscribers) & our promo partners (with a combined total of ???k followers) as
      well as local & regional media (Diamond tier).
    </p>

    <div class="tiers flex flex-col xl:flex-row justify-evenly items-start mx-auto">
      {sponsorshipTiers && sponsorshipTiers.map((tier, i) => <Tier tier={tier} count={i} />)}
    </div>

    <div class="expansion-packs my-8 mx-auto">
      <h2 class="mb-3">Expansion Packs</h2>
      <p class="text-xl w-full max-w-5xl mx-auto text-center mb-10">
        We have a few expansion packs that you can add to your sponsorship tier. These are not required, but they will
        help us make the event even better.
      </p>
      <div class="expansion-packs__list flex flex-row justify-evenly items-start">
        {expansionPacks && expansionPacks.map((pack, i) => <Tier tier={pack} count={i} isExpansion />)}
      </div>
    </div>
  </SponsorsSection>

	<SponsorsSection title="Interested?" precis="Apply to join as a partner organization, a sponsor or both!">
		<button
				class="cta__join-button btn btn-ghost text-secondary mb-4 sm:mb-0 bg-gradient-tertiary text-base xs:text-2xl md:text-2xl px-5 py-6 md:px-8 md:py-8 leading-[0] inline-flex content-center rounded-xl hover:scale-105 transition-all delay-100 duration-300 ease-in-out border-2"
				data-tally-open="wkbKeR" data-tally-layout="modal" data-tally-width="675" data-tally-align-left="1" data-tally-emoji-text="👋" data-tally-emoji-animation="wave" data-tally-auto-close="5000"
			>
				Apply now!
		</button>
	</SponsorsSection>

  <ThreeD client:load />
</Layout>
