---
import { Icon } from 'astro-icon';

type PlantProps = {
  plantName: string;
  position?: PlantPosition;
  color?: string;
  size?: string;
  className?: string;
};

type PlantPosition = {
  x: string;
  y: string;
  z: string;
};

const { plantName, position, color, size, className } = Astro.props as PlantProps;
const plant = `plants/${plantName}`;
---

<script>
  const plants = document.querySelector('.plants');
  const particles = plants.querySelectorAll('svg > g > circle');
  const maxRadius = 20;
  const maxX = plants.clientWidth - maxRadius;
  const maxY = plants.clientHeight - maxRadius;
  const speed = 0.01;
  const amplitude = 10;
  const startTime = Date.now();

  const animate = () => {
    const currentTime = Date.now(),
      time = (currentTime - startTime) / 1000;

    for (let i = 0; i < particles.length; i++) {
      const particle = particles[i];
      const x = Math.sin(time * speed + i * 2) * amplitude;
      const y = Math.cos(time * speed + i * 10) * amplitude;
      const dx = Math.min(maxX, Math.max(-maxX, x));
      const dy = Math.min(maxY, Math.max(-maxY, y));
      const scale = Math.sin(time * speed + i) * 0.5 + 1;

      particle.setAttribute('transform', `translate(${dx}, ${dy}) scale(${scale})`);
    }
    requestAnimationFrame(animate);
  };

  requestAnimationFrame(animate);
</script>

<style define:vars={{ color, size }}>
  .plant {
    svg {
      max-width: var(--size);

      path {
        fill: var(--color);
      }
    }
  }
</style>

<div class:list={['plant absolute pointer-events-none', size, position?.x, position?.y, position?.z, className]}>
  <Icon name={plant} class="h-auto group" />
</div>
